.DS_Store
.gitattributes
.vscode
.gitattributes
mem.prof
cpu.pprof
go.sum

logs
config/bot-config.json
resize/test-images
resize/test-images-large
resize/resize.test
resize-bot
tg-resize-sticker-images
